.container {
  position: relative;
}
.container-login {
  width: 40rem;
  height: 35rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 5px;
  margin: 0 auto;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo-container {
  width: 17rem;
}
.image_container {
  margin: 4rem;
  display: flex;
  justify-content: center;
}

.login-info div
{
  margin-top:1rem !important
}
.email {
  display: flex;
  justify-content: center;
  align-items: center;
}
.name input {
  display: flex;
  justify-content: center;
  align-items: center;

  letter-spacing: 1px;
  padding: 0 1rem;
  height: 3rem;
  width: 100%;
  border-radius: 7px;
  outline: none;

  border: 1px solid grey;
}

 

.credentials
{  display: flex;
  justify-content: center; 
  margin-top: 1rem;
}

.credentials input {
  height: 3rem;
  width: 100%;

  font-family: "Rubik", sans-serif;
  font-weight: 500;
  border-radius: 7px;
  outline: none;
  border: 1px solid grey;

  padding: 0 1rem;
  letter-spacing: 0.8px;
}

.password input {
  letter-spacing: 1px;
  padding: 0 1rem;
  height: 3rem;
  width: 100%;
  border-radius: 7px;
  outline: none;

  border: 1px solid grey;
}

.login_button {
  display: flex;
  justify-content: center;
  height: 5rem;
  align-items: center;
  background-color: #e67e22;
}
.login_button button {
  color: white;
  background: #e67e22;
  border: none;
  font-size: 1.8rem;
}
.login_button_container:hover {
 cursor: pointer;
}

.login_button_container {
  margin-top: 2rem;
  background-color: #e67e22;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 7px;
}

.login_info {
  margin: 4rem auto;
  width: 30rem;
}

.close {
  height: 2.5rem;

  position: absolute;
  top: 0;
  right: 0;

  transform: translate(-2rem, 2rem);
}

.other_option {
  margin-top: 3rem;

  display: flex;
  justify-content: space-between;

  color: #495057;
  font-size: 1.1rem;
}

.signup {
  height: 45rem;
}
