/* we should not use pixel in media queries  
using pixel will not adjust to useer font size setting and also not to user zomm level */

/* rem and em do not depend on html font size in mdeia queries
 1 rem - 1em = 16px
*/

/**************************/
/* Below 1344px */
/* ********************* */
@media (max-width: 84em) {
  .hero {
    max-width: 120rem;
  }

  .heading-primary {
    font-size: 4.4rem;
  }

  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* ************************ */
/*  Below  1200px  */

/**************************/

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }

  .grid {
    column-gap: 4.8rem;
  }
  .heading-secondary {
    font-size: 3.6rem;
  }

  .heading-tertiary {
    font-size: 2.4rem;
  }

  .header {
    padding: 0 3.2rem;
  }

  .main-nav-list {
    gap: 3.2rem;
  }
  .hero {
    gap: 4.8rem;
  }

  .testinomails-container {
    padding: 9.6rem 3.2rem;
  }
}

/* ************************ */
/* Below 944 px */
/* ************************ */
@media (max-width: 59em) {
  html {
    font-size: 50%;
  }

  .hero {
    grid-template-columns: 1fr;
    gap:6.4rem
  }

  .hero-text-box,
  .hero-img-box,
  .hero-description {
    text-align: center;
    margin:0  auto;
   width:80%
  }  
  .hero-description
  {
    width:83%;
    margin-bottom:2.4rem
  }
  .hero-img {
    width: 70%;
  }
  .delivered-meals {
    justify-content: center;
    margin-top:3.2rem
  }
 
  .logos img
  {
    height:2.4rem
  }

  .step-number
  {
    font-size: 7.4rem;
  }

  .section-testimonials
  {
    grid-template-columns: 1fr;
  }

  .gallery
  {
    grid-template-columns: repeat(6,1fr);
  }

  .cta{
    grid-template-columns: 3fr 2fr;
  }

  .cta-form
  {
    grid-template-columns: 1fr;
  }


  .btn--form
  {
    margin-top:2.4rem
  }
/* Mobile */
  .btn-mobile-nav{
    display:block;
  }

  .main-nav{
    background-color: #ffffff72;
    backdrop-filter: blur(4px);
    
    position:absolute;
    top:0;
    left:0;

    width:100%;
    height:100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    transform: translateX(100%);

    transition: all 0.5s ease-out;
   
    /* Correct way to hide a element istead of using a  */
    opacity:0;
    pointer-events: none;
    visibility: hidden;
  }

  .nav-open .main-nav{
    transform: translateX(0);
  }
  .nav-open .icon-mobile-nav[name="close-outline"]
  {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"]
  {
    display:  none;
  }
  .nav-open .main-nav
  {
    opacity:1;
    pointer-events: auto;
    visibility: visible;
  }
  .main-nav-list
  {
    flex-direction: column;
    gap:4.8rem;
  }


  .main-nav-link:link,
  .main-nav-link:visited
  {
    font-size:3rem
  }
}

/* 704 px */

@media(max-width:44em)
{

  .grid-footer
  {
    grid-template-columns: repeat(6,1fr);
  }

  .nav-col
  {
    grid-row:1;
    grid-column: span 2;

  }

  .logo-col,.address-col
  {
    grid-column: span 3;
  }
  .princing-plan 
  {
    width:100%;
  }
  .heading-secondary{
    margin-bottom: 4.8rem; 
  }

  .princing-plan--complete::after
  {
    top:6%;
    right:-19%
  }

  .diets
  {
     grid-column:1/-1;
     justify-self: center;
  }
   .grid--3-cols,
   .grid--4-cols{

    grid-template-columns: repeat(2,1fr);
   }
}

@media (max-width:34em){


  .grid--2-cols,
  .grid--3-cols,
  .grid--4-cols
  {
    grid-template-columns: repeat(1,1fr);
  }

  .grid{
    row-gap: 4.8rem;
  }

  
  .princing-plan--complete::after
  {
    top:9%;
    right:-11%
  }

  .section-hero
  {
    padding: 2.4 rem 0 6.4rem 0 ;
  }

  .hero
  {
    padding:0 3.2rem;
  }

  .btn:link,
  .btn:visited
  {
    padding:2.4rem;
  } 

  .hero-img
  {
    width:80%
  }
  
  .step-img-box:nth-child(2)
  {

    grid-row:1;
  }
  .step-img-box
  {
    transform: translateY(2.4rem);
  }

  .testimonials
  {
    grid-template-columns: 1fr;
  }
  .gallery
  {
    grid-template-columns: repeat(4,1fr);
    gap:1.2rem
  }
  .step-img-box:nth-child(6)
  {
    grid-row:5
  }

  .cta
  {
    grid-template-columns: 1fr;
  }

  .cta-img-box
  {
    height:32rem;
    grid-row:1;
    background-position:   center ;
    background-repeat: no-repeat;

    /* transform: translateY(-1rem); */
  }
  .logos img
  {
    height:1.2rem
  }
  .section-cta
  {
    padding: 0;
  }
}