.visiblity {
  transform: scale(3);
  color: #e67e22;
}

.gap-1rem {
  padding-top: 0;
}
.gap-1rem input {
  margin-right: 2rem;
}

.login_info {
  display: flex;
  flex-direction: column;

  gap: 1rem;
}
.newPassword {
  height: 33rem;
}
